html{
    background-color: #8A0039;
}
body{
    background-color:#8A0039;
    padding-top: 10%;
    text-align: center;
}
table{
    border-color:#8A0039;
    border-style:solid;
    margin-left:5%;
    margin-right:5%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
}
tr{
    height:10px;
}
th,td{
    height:10px;
}
.navbar{
    font-size: 15px;
}
.navbar-brand{
    color:#FFFFFF;
    font-size: 2rem;
    padding-left: 2rem;
}
.navbar-brand:hover{
    color:bisque;
}

.table-div{
    background-color:#FFFFFF;
    overflow: auto;
}
