<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand"  routerLink="/start-page">Add New Budgets</a>
            <a routerLink="/start-page">
                <button >Home</button>
            </a>
        </nav>
        <div> 
            <form #addBudgetForm="ngForm" (submit)="addBudget(addBudgetForm)">
                <h2>
                    Budget Code Id (nnn)
                    <input type="number" [(ngModel)] = "budgetCodeId" name="budgetCodeId"
                    required min="0" max="999">
                </h2>
                <h2>Fiscal Year (yyyy)
                    <input type="number" [(ngModel)] = "fiscalYear" name="fiscalYear"
                    required min="0" max="10000">
                </h2>
                <h2>Budget Code
                    <input type="text" [(ngModel)] = "budgetCode" name="budgetCode"
                    required minlength="1">
                </h2>
                <h2>Budget Title
                    <input type="text" [(ngModel)] = "budgetTitle" name="budgetTitle"
                    required>
                </h2>
                <button type="submit">Add Budget</button>
            </form>
        </div>
                <!-- 1st case prevetion -->
                <div class="table-div" *ngIf=budget>
                    <!-- Check if data exists on year input -->
                    <div *ngIf="validateResponse(); else elseBlock">
                        <h2>The following data has successfully been uploaded</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Budget ID Code</th>
                                    <th scope="col">Fiscal Year</th>
                                    <th scope="col">Budget Code</th>
                                    <th scope="col">Title</th>
                                </tr>
                            </thead>
                            <!-- <tbody *ngFor="let budgets of budget.data"> -->
                            <tbody>
                                <tr>
                                    <td>{{budget.data.budgetCodeId}}</td>
                                    <td>{{budget.data.fiscalYear}}</td>
                                    <td>{{budget.data.budgetCode}}</td>
                                    <td>{{budget.data.budgetTitle}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    <!-- Alternate display for empty api response -->
                    <ng-template #elseBlock>
                        <p>fAILED Budget alread</p>
                    </ng-template>
                </div>
       <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
